body {
  font-size: 24px;
}

.wrapper {
  display: grid;
  place-content: center;
  height: 100vh;

  h1 {
    color: rgb(238, 216, 216);
  }

  .tempature-wrapper {
    display: flex;
    justify-content: center;
  }
  .windspeed-wrapper {
    display: flex;
    justify-content: center;
  }
  .timezone-wrapper {
    display: flex;
    justify-content: center;
  }
  .time-wrapper {
    display: flex;
    justify-content: center;
  }
}
